* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(142, 228, 228);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;    
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color:rgb(7, 182, 167);
}

h2 {
    font-size: 1,5em;
    color:rgb(7, 182, 167);
}

img.lado {
    float: right;
    margin: 0 auto;
}

a {
    /* text-decoration: none; */
    font-weight: bold;
    color:rgb(7, 182, 167);
}

a:hover {
    /* text-decoration: rgb(7, 182, 167); */
    color: rgb(7, 182, 167);
}

iframe {
    margin: 0 auto;
}